*{
  margin: 0px;
  padding: 0px;
}
body {
  background-attachment: fixed;
  background-image: url(./img/react-background.jpg);
  background-size:cover;
  display: grid;
  font-family: sans-serif;
  text-align: center;
  color: aliceblue;

}
img{
  width: 50px;
  height: 50px;
}

textarea{
  border: 1px solid wheat;
  border-radius: 3px;
  box-shadow: -1px 1px 10px 10px rgb(20, 11, 59, 0.5);
  min-height: 30px;
  margin-top: 10px;
  padding: 20px;
  width: 50%;
}
.btn{
  background-color: rgb(20, 11, 59,0.9);
  border-color: rgb(67, 48, 156);
  border-radius: 3px;
  color: wheat;
  height: 40px;
  margin-top: 10px;
  width: 20%;
}
.comment{
  border: 1px solid;
  border-radius: 3px;
  box-shadow: -1px 1px 10px 10px rgb(20, 11, 59, 0.5);
  display: grid;
  grid-template-columns: 1fr 8fr;
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 15px;
  background: rgba(103, 118, 204, 0.5);
  
}
.containerSignin{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.conteudo{
  margin: auto;
  text-align: justify;
  width:55%;
}
.form-signin, .create-login{
  background: rgba(103, 118, 204, 0.5);
  border-radius: 3px;
  margin: 20px 10px 10px 20px;
  width: 60%;
  height: 250px;
  padding: 20px 80px;
  box-shadow: -1px 1px 10px 10px rgb(20, 11, 59);
}
.form-signin, .create-login input{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom:  1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;

}
.form-signin, .create-login button{
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: rgb(9, 9, 44);
  width: 100%;
}
.form-signin .create-login button:hover{
  background: rgb(171, 197, 218);
  color: rgb(49, 49, 122);
}
.header{
  align-items: center;
  background:  rgba(103, 118, 204, 0.5);
  border-radius: 3px;
  box-shadow: -1px 1px 10px 10px rgb(20, 11, 59, 0.5);
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100px;
  width: 100%;

}
.home{
  display: grid;
  height: auto;
  align-items: unset;

}
footer{
  background:  rgba(103, 118, 204, 0.5);
  border-radius: 3px;
  box-shadow: -1px 1px 10px 10px rgb(20, 11, 59, 0.5);
  bottom: 0;
  display: grid;
  height: 100px;
  margin-top: 10px;
  position: relative;
  align-items: center;
  width: 100%;
}
.displayName{
  border-left: 3px solid rgba(118, 103, 204, 0.5);
  display: block;
  padding: 3px;
}
.displayName button{
  background-color: rgb(20, 11, 59,0.9);
  border-color: rgb(67, 48, 156);
  border-radius: 3px;
  color:wheat;
  height: 40px;
  margin-top: 10px;
  width: 60%;
}
.displayName input{
  margin-bottom: 20px;
  border: none;
  border-bottom:  1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  width: 80%;

}

#root{
  width: 100%;
}

@media (max-width: 480px) {
.containerSignin{
  grid-template-columns: 1fr;
}
.comment{
  grid-template-columns: 1fr;
  align-items: center;
  width: 80%;
}
.btn{
  width: 91%;
}
.form-signin, .create-login{
  margin: 10px, 10px, 10px, 10px;
  width: 55%;
}
.header{
  justify-content: center;
  grid-template-columns: 1fr;
}
textarea{
  width:80%
}
}